<div cdkDropListGroup class="page">
  <header class="header">
    <part-container
      group="header"
      [defaultParts]="defaultParts['header']"
    ></part-container>
  </header>

  <nav class="nav">
    <part-container
      group="nav"
      [defaultParts]="defaultParts['nav']"
    ></part-container>
  </nav>

  <main class="main">
    <part-container
      group="main"
      [defaultParts]="defaultParts['main']"
    ></part-container>
  </main>

  <aside class="aside">
    <part-container
      group="aside"
      [defaultParts]="defaultParts['aside']"
    ></part-container>
  </aside>

  <footer class="footer">
    <part-container
      group="footer"
      [defaultParts]="defaultParts['footer']"
    ></part-container>
  </footer>
</div>
