<button *ngIf="!(editing | async)" (click)="toggleEdit()">
  Edit
</button>

<ng-container *ngIf="editing | async">
  <button (click)="save()">Save</button>
  <button (click)="undo()">Undo</button>

  <app-add-part group="main"></app-add-part>
</ng-container>

<nav>
  <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
  <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
</nav>

<router-outlet></router-outlet>

<hr />

<pre>
    {{ parts | async | json }}
</pre>

<button (click)="getLazy1()">Get Lazy 1</button>
