<button (click)="toggleEdit()">
  <ng-container *ngIf="!editable">Edit</ng-container>
  <ng-container *ngIf="editable">Preview</ng-container>
</button>

<ng-container *ngIf="editable">
  <button (click)="addContentPart()">Add Content</button>
  <button (click)="addTimerPart()">Add Timer</button>
</ng-container>

<div cdkDropListGroup>
  <header class="header">
    <part-observable-container
      group="header"
      [editable]="editable"
    ></part-observable-container>
  </header>

  <main class="main">
    <part-observable-container
      group="main"
      [editable]="editable"
    ></part-observable-container>
  </main>

  <aside class="aside">
    <part-observable-container
      group="aside"
      [editable]="editable"
    ></part-observable-container>
  </aside>

  <footer class="footer">
    <part-observable-container
      group="footer"
      [editable]="editable"
    ></part-observable-container>
  </footer>
</div>
