<button *ngIf="!(editing | async)" (click)="toggleEdit()">
  Edit
</button>

<ng-container *ngIf="editing | async">
  <button (click)="toggleEdit()">Save</button>
  <button (click)="toggleEdit()">Cancel</button>

  <button (click)="addContentPart()">Add Content</button>
  <button (click)="addTimerPart()">Add Timer</button>
</ng-container>

<div cdkDropListGroup class="page">
  <header class="header">
    <part-container group="header"></part-container>
  </header>

  <nav class="nav">
    <part-container group="nav"></part-container>
  </nav>

  <main class="main">
    <part-container group="main"></part-container>
  </main>

  <aside class="aside">
    <part-container group="aside"></part-container>
  </aside>

  <footer class="footer">
    <part-container group="footer"></part-container>
  </footer>
</div>
